nav {
  background-color: white;
  margin-bottom: .7em;
}

ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  padding: 1em .5em 1em .5em;
  transition: .5s;
}

li:hover {
  color: white;
  background-color: var(--primary);
}

li:hover a {
    color: inherit;
}

a {
  color: var(--primary);
  text-decoration: none;
}

fa-icon{
  margin-right: .2em;
}

.wip {
  color: black;
  text-align: center;
  border-style: solid;
  border-color: #ffff66;
  background-color: #ffff99;
  margin: 0;
}
