<div class="container">
  <h2>Proyectos</h2>

<div class="cards">
  <div *ngFor="let project of pinnedProjects" class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="card-title">
        <h5>{{project.title}}</h5>
        <small>{{project.language}}</small>
      </div>
      <p class="card-text">{{project.description}}</p>
      <a href="{{project.url}}" class="btn btn-primary">Ir a proyecto</a>
    </div>
  </div>
</div>
<h2>Listado de proyectos</h2>
<ul>
  <li *ngFor="let project of projects">
    <a href="{{project.url}}">{{project.title}} - {{project.language}}</a>
    <!--<p>{{project.updated_at}}</p>-->
  </li>
</ul>
  <!--<ul>
    <li *ngFor="let project of projects">
      <a href="{{project.url}}">{{project.title}}</a>
      <p>{{project.description}}</p>
      <small>{{project.language}}</small>
    </li>
  </ul>-->
</div>
