/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #424141; /* Dark gray */
  --secondary: #939393; /* Light gray */
  --tertiary: #00001a; /* Dark blue */
}

/*@keyframes changeColors {
    0%   {background-color: var(--primary);}
    50%  {background-color: gray;}
    100% {background-color: var(--primary);}
}*/

body {
  margin: 0;
  color: white;
  background: linear-gradient(var(--primary), var(--tertiary));
}

.container {
  min-height: 100vh;
  margin: auto;
  margin-top: 2em;
}
